@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  /* @apply bg-background text-foreground; */
  font-family: 'Poppins', sans-serif;  /* <-- This line was added */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}